<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- utf-8 -->
    <meta charset="UTF-8">

    <!--viewport  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- importation du CSS -->
    <link rel="stylesheet" href="css/menu.css">

    <!-- Importation de la police -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">

<!-- titre -->
    <title>Notre Menu</title>

</head>


<body>
    <!-- Header -->
    <%- include('partials/navbarre') %>

        <h2 class="menu">Menu - HoneyTea</h2>

    
    <h3>Thés:</h3>

    <ol>
         <% resultat.forEach (t => { %>

            <li> <%= t.nom %> <em> <%= t.prix %></em></li>
    <% }) %>
        
    </ol>
<br>
    <h3>Pâtisseries:</h3>

    <ol>
         <% patisseries.nom.forEach (p => { %>

            <li> <%= p %> <em> <%= patisseries.prix %></em></li>
    <% }) %>
        
    </ol>

    <h3>Appéritifs:</h3>

    <ol>
         <% apperitif.nom.forEach (a => { %>

            <li> <%= a %> <em> <%= apperitif.prix %></em></li>
    <% }) %>
        
    </ol>

    <h3>Boissons (faites maison):</h3>

    <ol>
         <% boissons.nom.forEach (b => { %>

            <li> <%= b %> <em> <%= boissons.prix %></em></li>
    <% }) %>
        
    </ol>

    <br>
    <div class="bouton">
        <button><a href="commande" target="">Commander</a></button>
    </div>

    
    <!-- Bon appétit -->
    <p class="tea"> Bon AppéTea!</p>
    <br>

    <%- include('partials/footer') %>

    <!-- <footer>
        <p> 2024 Salon de Thé "HoneyTea". Tous droits réservés.</p>
    </footer>
     -->
</body>
</html>